CSS
body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.red, .blue, .green, .home {
  background-color: #b05f6d; /* Replace with your desired color */
  color: white;
  height: 100vh; /* Set height to full viewport height */
  width: 100%;
}

.red {
  background-color: #b05f6d;
  color: white;

}

.blue {
  background-color: #275db3;
  color: white;
}

.green {
  background-color: #27b366;
  color: white;
}

.home {
  background-color: lightblue;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10rem; /* Adjust padding as needed */
}